@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

button{
    width: 100px;
    height:30px;
    border-radius: 15px;
    margin:50px;
}
    .on{
        color:whitesmoke;
        background-color: royalblue;
        font-family: IBM Plex Sans;
        font-style: normal;
    }
    .off{
        color:white;
        background-color: darkgreen;
        font-family: IBM Plex Sans;
        font-style: normal;
    }
